<div class="scheduler" ng-controller="schedulerCtrl" ng-class="{show: show}">
    <div class="scheduler-btn" ng-click="show=false"></div>
    <header>
        <h1>{{scheduler.name}} - ({{scheduler.daily.length}})</h1>
    </header>
    <main>
        <div class="left"></div>
        <div class="right">
            <header>
                <h2>Daily Events</h2>
            </header>
            <div class="event" ng-repeat="event in scheduler.daily" style="background-color: rgb({{event.rgb[0]}}, {{event.rgb[1]}}, {{event.rgb[2]}})">
                <h3>{{event.h}}시 {{event.m}}분</h3>
            </div>
            <div class="newEvent" ng-click="newEvent()">
                <h3>새로운 이벤트</h3>
                <i class="fa fa-plus-circle fa-inverse fa-2x"></i>
            </div>
        </div>
    </main>
</div>