<div class="lightMonitor-wrapper" ng-controller="lightMonitorCtrl" ng-class="{show: show}">
    <div class="lightMonitor-button" ng-click="btnClose()"></div>
    <header ng-style="header">
        <h1>{{light.name}}</h1>
    </header>
    <div class="lightMonitor">
        <h2>위도 {{light.lat}}</h2>
        <h2>경도 {{light.lng}}</h2>

        <hr />

        <h2 class="groupName" ng-click="goToGroup()">{{group.name || '소속된 그룹이 없습니다.'}}</h2>

        <hr />

        <h4>Dimming: {{light.dim}}</h4>
        <div class="slider">
            <slider model="light.dim"></slider>
        </div>
        <button class="btn btn-default" ng-click="control()">control</button>

        <footer>
            <button class="btn btn-primary" ng-click="edit()">편집</button>
        </footer>
    </div>
</div>